body {
    background-color:wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: forestgreen;
    display:inline-flex; 
    justify-content: space-between;
    border-style:double;
  }

header li {
    float: left;
    background-color: black;
    
    
  }
  
header li a {
    font-weight: bolder;
    display: block;
    color: palegoldenrod;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    background-color: black;
    margin: 5px;
    
  }

header li a:hover {
    background-color: forestgreen;
  }

header * {
    display: inline;
}

